<div class="container">
  <h2 align="center">Create a new task</h2>
  <%= simple_form_for @task, remote: true do |f| %>
    <%= f.input :name%>
    <%= f.input :descripion, input_html:{ rows: "10"} %>
    <%= f.button :submit, class: 'btn btn-success'%>
    <%= link_to 'Cancel', url_for(:back), class: 'btn btn-danger' %>
  <% end %>
</div>
